@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    margin: 0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

html, body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.monospace {
    font-family: 'Roboto Mono', monospace;
}

@layer base {
    h2 {
        @apply text-xl my-2
    }
}

@layer components {
    .btn {
        @apply shadow-md active:shadow p-3 duration-150 m-1 md:m-2 rounded border
    }

    .menubar-btn {
        @apply duration-150 px-3 h-full
    }

    .workbgm-action-bgm {
        @apply shadow-md active:shadow px-3 py-1 duration-150 rounded border text-sm my-1
    }

    .workbgm-list {
        @apply my-2 border rounded items-center flex
    }

    input {
        @apply border-b m-1 p-2 flex-grow border-gray-300 hover:border-gray-500 duration-150 focus:border-blue-500 focus:border-b-2 focus:duration-0 outline-none
    }

    .icon-btn {
        @apply shadow-md active:shadow p-2 px-3 duration-150 m-1 rounded placeholder-gray-300
    }
}

/* animation */
.animation-opacity {
    transition-property: opacity, visibility;
    transition-duration: .150s;
    transition-timing-function: ease-out;
    opacity: 0;
    visibility: hidden;
}

.animation-opacity.is-show {
    opacity: 1;
    visibility: visible;
}